[flake8]
max-line-length = 120
exclude = venv,__pycache__,.git,*.egg-info
ignore =
    # Non-critical whitespace/indentation (autopep8 partial fix)
    E128,E129,E127,E126,E302,E305,E231,E226,E241,E221,
    # Long lines that are hard to break (JSON, comments)
    E501,
    # Line break warnings (PEP 8 conflict)
    W503,W504,
# Show source
show-source = True
# Statistics
statistics = True
